@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

// Responsive
@mixin responsive() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

$content-font: "Montserrat", sans-serif;
$heading-font: "Poiret One", sans-serif;
$timeline-width: 700px;
$timeline-container-width: 100%;
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $timeline-width;
  position: relative;
  &__content {
    .details-button {
      font-family: $content-font;
      color: rgba(#fcf8f4, 0.7);
      text-decoration: none;
      text-align: center;
      display: inline-block;
      margin-top: 5px;
      transition: color 0.5s ease;

      &:hover {
        color: hsla(27, 97%, 75%, 0.7);
      }
    }

    &-title {
      font-weight: bold;
      font-size: 40px;
      margin: -10px 0 0 0;
      transition: 0.4s;
      padding: 0 10px;
      box-sizing: border-box;
      font-family: $heading-font;
      color: hsla(27, 97%, 75%, 0.7);
      transition: color 1s ease;
      &:hover {
        color: hsla(27, 97%, 75%, 0.9);
      }
    }
    &-desc {
      margin: 0;
      font-size: 15px;
      box-sizing: border-box;
      color: rgba(#fcf8f4, 0.7);
      font-family: $content-font;
      font-weight: normal;
      line-height: 25px;
      transition: color 1s ease;
      &:hover {
        color: rgba(#fcfcfc, 1);
      }
    }
  }
  &:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    border-radius: 10px;
    content: "";
    background: rgba(53, 53, 53, 0.575);
    @include responsive() {
      left: 40px;
    }
  }
  &-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
    &:before {
      content: attr(data-text);
      letter-spacing: 3px;
      width: 100%;
      position: absolute;
      color: rgba(#fff, 0.5);
      font-size: 13px;
      font-family: $heading-font;
      border-left: 2px solid hsla(27, 97%, 75%, 0.9);
      top: 70%;
      margin-top: -5px;
      padding-left: 15px;
      opacity: 0;
      right: calc(-100% - 56px);
    }
    &:nth-child(even) {
      align-self: flex-end;
      &:before {
        right: auto;
        text-align: right;
        left: calc(-100% - 56px);
        padding-left: 0;
        border-left: none;
        border-right: 2px solid hsla(27, 97%, 75%, 0.9);
        padding-right: 15px;
      }
    }
    &--active {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
      &:before {
        top: 50%;
        transition: 0.3s all 0.2s;
        opacity: 1;
      }
      .timeline__content-title {
        margin: -50px 0 20px 0;
      }
    }
    @include responsive() {
      align-self: baseline !important;
      width: 100%;
      padding: 0 30px 150px 80px;
      &:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
      }
      &:last-child {
        padding-bottom: 40px;
      }
    }
  }
  &__img {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.4);
    border-radius: 5px;
    transition: box-shadow 1s ease;
    &:hover {
      box-shadow: 0 0 15px rgba(118, 118, 118, 0.4);
    }
  }
  &-container {
    width: $timeline-container-width;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: brightness(0.7) blur(10px); // For Safari
      backdrop-filter: brightness(0.7) blur(10px);
      content: "";
    }
  }
  &-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    &__title {
      color: #fcf8f4;
      font-size: 2.5rem;
      font-family: $content-font;
      font-weight: normal;
      margin: 0;
    }
    &__subtitle,
    p,
    a {
      color: #fcf8f480;
      font-family: $heading-font;
      font-size: 16px;
      letter-spacing: 5px;
      margin: 10px 0 0 0;
      font-weight: normal;
      text-decoration: none;
      transition: color 1s ease;
      &:hover {
        color: #fcf8f4;
      }
    }
    a {
      font-weight: bold;
      color: #f3881d80;
      transition: color 1s ease;
      &:hover {
        color: #f3881dd4;
      }
    }
  }
}
